:root{
    /*primary*/
    --nutmeg: hsl(14, 45%, 36%);
    --darkRaspberry: hsl(332, 51%, 32%);

    /*neutral*/
    --white: hsl(0, 0%, 100%);
    --roseWhite: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --lightGrey: hsl(30, 18%, 87%);
    --wengeBrown: hsl(30, 10%, 34%);
    --darkCharcoal: hsl(24, 5%, 18%);
}

@font-face {
    font-family: textFont;
    src: url('./public/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: titleFont;
    src: url('./public/fonts/young-serif/YoungSerif-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--eggshell);
    font-size: 16px;
    font-family: textFont, sans-serif;
    color: var(--wengeBrown);
}

h1, h2{
    font-family: titleFont, serif;
    font-weight: normal;
}

h1{
    font-size: 36px;
    color: var(--darkCharcoal);
}

h2{
    color: var(--nutmeg);
    font-size: 28px;
    margin: 27px 0 16px 0;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


.recipe-card{
    width: 100%;
    background: var(--white);
    padding-bottom:26px;
}

.recipe-card-content{
    padding: 0 34px;
}

.recipe-img-container{
    display: inline-block;
}

.recipe-img-container img{
    width: 100vw;
    height: 171px;
}

.recipe-name{
    margin: 29px 0 12px 0;
}


.recipe-description{
    font-size: 16px;
    line-height: 24px;
}

.recipe-preparation{
    background: var(--roseWhite);
    margin-top: 37px;
    border-radius: 10px;
    padding:26px 30px 30px 30px;
}

.recipe-preparation-title{
    color: var(--darkRaspberry);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 14px;
}

.recipe-preparation li{
    padding-left: 0;
    list-style: none;
    margin-left: 7px;
}


li{
    margin-bottom: 12px;
}

li:last-of-type{
    margin-bottom: 0;
}

.recipe-preparation li strong{
    font-weight: 700;
}

.dot{
    width: 4px;
    height: 4px;
    display: inline-block;
    background: var(--darkRaspberry);
    border-radius: 50%;
    margin-right: 28px;
}


.recipe-ingredients h2{
    font-size: 29px;
    margin-bottom: 18px;
}

.recipe-ingredients li{
    list-style: none;
    display: flex;
    align-items: center;
}

.recipe-ingredients li .dot{
    border-radius: 0;
    background: var(--nutmeg);
    margin-left: 7px;
}

.recipe-instructions{
    margin-top:33px;
    padding-bottom:23px;
    border:1px solid var(--lightGrey);
    border-left:none;
    border-right:none;
}

.recipe-instructions ol{
    margin-left: 1.6rem;
}

.recipe-instructions li{
    line-height: 24px;
    width: 97%;
    padding-left: 15px;
    margin-bottom: 8px;
}

.recipe-instructions ol li::marker{
    color: var(--nutmeg);
    font-weight: 700;
}

.recipe-nutrition table{
    margin-top: 16px;
    border-collapse: collapse;
    width: 100%;
}

.recipe-nutrition table td{
    padding: 14px 0;
}

.recipe-nutrition table td.bold{
    color: var(--nutmeg);
    font-weight: 700;
}

.recipe-nutrition table tr{
    border-bottom: 1px solid var(--lightGrey);
}

.recipe-nutrition table tr:last-of-type{
  border-bottom: none;
}

@media screen and (min-width:450px){
    .recipe-img-container img{
        height: 200px;
    }
}

@media screen and (min-width:550px) {

    .wrapper{
        padding:122px 0 124px 0;
        align-items: flex-start;
    }

    h1{
        font-size: 40px;
    }

    .recipe-card{
        width: 85%;
        border-radius: 22px;
        padding: 40px 40px 26px 40px;
    }

    .recipe-img-container img{
        width: 100%;
        height: 250px;
        border-radius: 12px;
    }

    .recipe-card-content{
        padding: 0;
    }

    .recipe-preparation{
        height: 179px;
    }

    .recipe-preparation li{
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width:850px) {
    .recipe-card{
        width: 736px;
    }

    .recipe-img-container img{
        height: 300px;
    }
}